/* $Id: */

#roster {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0px solid black;
}

#roster td, #roster th {
	padding: 0.3em 0.5em;
}

#roster th {
	padding-right: 1em;
	text-align: left;
}

#roster-character {
}

#roster-character table {
}

#roster-character td, #roster-character th {
}

#roster-character td.portrait {
	text-align: center;
	vertical-align: middle;
}

#roster-character td.field {
	font-weight: bold;
}

#roster-character td.value {
}

#roster-character img.portrait {
	width: 80px;
	height: 92px;
	border: 0px;
}

#roster-character td.biography {
}

#roster-character td.more-info {
}

#roster-character p.biography {
	text-align: justify;
}
